name: Ruby

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['2.7', '3.0']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@473e4d8fe5dd94ee328fdfca9f8c9c7afc9dae5e
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically
    - name: Run Rspec tests
      run: bundle exec rspec
    - name: Check test outputs contain no diffs
      run: git diff --exit-code spec/output || (echo "Test outputs contain changes. Run 'make' locally and check that the changes are desired. If they're desire, commit them as part of the change." && exit 1)
